.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.react-flow__node {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 16px;
  border: 1px solid black;
}