.hotbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 85%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

.hotbar {
  display: flex;
  flex-direction: row;
  background-color: #333;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
}

.hotbar-item {
  padding: 10px 15px;
  background-color: #555;
  color: white;
  border-radius: 4px;
  cursor: grab;
}

/* .hotbar-clicked {
  position: fixed;
  padding: 10px 15px;
  background-color: #555;
  color: white;
  border-radius: 4px;
} */